<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ajaxMapper">

   <resultMap type="Member" id="member_rm">

      <!-- DB의 기본 키(복합키면 여러 개 작성) -->
      <id property="memberNo" column="MEMBER_NO" />

      <!-- DB의 일반 컬럼들 -->
      <result property="memberEmail" column="MEMBER_EMAIL" />
      <result property="memberPw" column="MEMBER_PW" />
      <result property="memberNickname" column="MEMBER_NICKNAME" />
      <result property="memberTel" column="MEMBER_TEL" />
      <result property="memberAddress" column="MEMBER_ADDR" />
      <result property="profileImage" column="PROFILE_IMG" />
      <result property="enrollDate" column="ENROLL_DATE" />
      <result property="memberDeleteFlag" column="MEMBER_DEL_FL" />
      <result property="authority" column="AUTHORITY" />
   </resultMap>


	<select id="selectNickname" parameterType="String" resultType="String">
		SELECT MEMBER_NICKNAME FROM MEMBER WHERE MEMBER_EMAIL=#{email} AND MEMBER_DEL_FL = 'N'
	</select>
	
	<select id="selectTel" parameterType="String" resultType="String">
		SELECT MEMBER_TEL FROM MEMBER WHERE MEMBER_NICKNAME=#{nickname} AND MEMBER_DEL_FL = 'N'
	</select>
</mapper>
