*{box-sizing: border-box;}

div{
    border: 1px solid black;
}

.container{
    width:1140px;
    margin: auto;  
}
/* header */
.header{
    height: 200px;
    display:flex;
}

.header>div:nth-child(1){
    flex-basis:15%;
}
.header>div:nth-child(2){
    flex-basis:70%;
}
.header>div:nth-child(3){
    flex-basis:15%;
}
.header > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
}
#home-logo{
    width: 120px;
    height: auto;

}

/* 검색 스타일 */

.header>div:nth-child(2){
    display:flex;
    align-items: center;
    justify-content: center;
}

.search-area{
    width: 500px;
}
.search-area fieldset{
    padding: 2px;
    margin: 0;
    border: 2px solid #455ba8;
    border-radius: 5px;
    display:flex;
}

#query {
    padding : 10px;
    font-size: 18px;
    font-weight: bold;
    width: 92%;
    border: none;
    outline: none; /* none도 가능 */
    /* outline : input태그에 포커스가 맞춰졌을 때
                 이를 표현하기 위한 바깥선
                 (테두리보다 바깥에 존재) */
}

#search-btn{
    width: 8%;
    cursor: pointer;
    font-size: 1.2em;
    color:#455ba8;
    background-color: white;
    border: none;
}

/* nav */
.nav{
    height:50px;

    position: sticky;
    /* sticky : 스크롤이 임계점(최상단)에 도달했을 때
                내 화면에 스티커 처럼 붙임
        - 평소에는 static(기본 position 상태)
          임계점 도달 시 fixed(화면 특정 위치에 고정)

        * top, bottom, right, left 속성이 필수로 작성되어야 함
        -> 임계점 도달 시 어느 위치에 부착할지를 지정해야 되기 때문
    */
    top : 0; /* 최상단에 붙임*/
    background-color: white;
    border-bottom: 2px solid black;
}

.nav > ul {
    display:flex;
    list-style: none;
    padding : 0;
    margin: 0;
    height: 100%;
}

.nav >ul> li {
    flex: 0 1 150px;
    /*  팽창 수축 기본값 */
}

.nav a{
    display:block;
    height: 100%;

    text-align: center;
    /* 글자를 세로 가운데로 지정 */
    /* line-height: 48px; */
    padding : 11px 0;
    /* 밑줄 없애기 */
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;

    transition-duration: 0.1s;
    border-radius: 5px;
}

.nav a:hover{
    background-color: #455ba8;
    color: white;
}

/* content */

.content{
    height:800px;
    display:flex;
}

.content-1{
    flex-basis:70%;
}
.content-2{
    flex-basis:30%
}
/* footer */

.footer{
    height: 200px;
}


