/* div{
    border: 1px solid black;
    box-sizing: border-box;
} */

.wall{
    display: flex;
    justify-content: center;
}

.container {
    width: 1170px;
    height: 1170px;
    display: flex;
    flex-direction: column;
}

/* search */

#search {
    flex-basis:13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#search fieldset{
    width: 540px;
    height: 35px;
    margin-top: 0px;
    border: 2.3px solid #455ba8;
    border-radius: 35px;
    display:flex;
    position: relative;
}
#query {
    padding : 10px;
    font-size: 18px;
    font-weight: bold;
    width: 84%;
    border: none;
    outline: none; /* none도 가능 */
    /* outline : input태그에 포커스가 맞춰졌을 때
                 이를 표현하기 위한 바깥선
                 (테두리보다 바깥에 존재) */
}
#keyboard-btn{
    width: 8%;
    cursor: pointer;
    font-size: 1.5em;
    color:#455ba8;
    background-color: white;
    border: none;
    cursor: pointer;
}
#search-btn{
    width: 8%;
    cursor: pointer;
    font-size: 1.5em;
    color:#455ba8;
    background-color: white;
    border: none;
    cursor: pointer;
}

#logo_daum{
    width: 60px;
    height: 70px;
    top:-10px;
    position: absolute;
    cursor: pointer;
}
/* icons */

#icons{
    flex-basis:6%;
    display: flex;
    justify-content: space-evenly;

}

.icon1-btn{
    width: 85px;
    height: 45px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border: none;
    box-shadow: 3px 3px 32px rgb(218, 215, 215);
    cursor: pointer;
}

.icon1-btn:hover{
    box-shadow: 4px 4px 4px rgb(194, 193, 193);
}

.icon2-btn{
    width: 45px;
    height: 45px;
    border-radius: 30px;  
    background-color: white;
    box-shadow: 3px 3px 32px rgb(218, 215, 215);
    cursor: pointer;
    border: none;  
}

.icon2-btn:hover{
    box-shadow: 4px 4px 4px rgb(194, 193, 193);
}

.icon1{
    width: 25px;
    height: 25px;
}

.icon-text{
    font-size: 13pt;
}
/* content */



#content{
    flex-basis:81%;
    display:flex;
    background-color: rgb(242, 244, 247);
}

#left{
    flex-basis:65%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#left-item1{
    flex-basis: 17%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 244, 247);
}

#left-item1-box{
    width: 97%;
    height: 85%;
    border-radius: 14px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner1{
    width: 700px;
    height: 95px;

}

#left-item2{
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-item2-box{
    width: 97%;
    height: 96%;
    border-radius: 14px;
    background-color: white;
    display: flex;
    flex-direction: column;

}

#left-item2-box-header{
    height: 13%;
    position: relative;
}

#left-item2-box-header-itembox{
    position: absolute;
    width: 650px;
    height: 50px;
    left: 10px;
    top:10px;
    display: flex;
    justify-content: space-evenly;
}

#left-2-2{
    display:flex;
    justify-content: center;
    align-items: center;
}
#left-2-3{
    display:flex;
    justify-content: center;
    align-items: center;
}
#left-2-4{
    display:flex;
    justify-content: center;
    align-items: center;
}
#left-2-5{
    display:flex;
    justify-content: center;
    align-items: center;
}
#left-2-6{
    display:flex;
    justify-content: center;
    align-items: center;
}
#left-2-7{
    display:flex;
    justify-content: center;
    align-items: center;
}
#left-2-8{
    display:flex;
    justify-content: center;
    align-items: center;
}

#left-2-btn-1{
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    width: auto;
    height: 30px;
    padding-top:5px;  
    border: none;  
    cursor: pointer;
}
#left-2-btn-2{
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    width: auto;
    height: 30px;
    padding-top:5px; 
    background-color: rgb(229, 237, 255); 
    color:rgb(72, 129, 247);
    cursor: pointer;
}
.left-2-btn{
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    width: auto;
    height: 30px;
    padding-top:5px;
    cursor: pointer;
}

#left-2-btn-2:hover{
    background-color: rgb(220,228,245);
}

.left-2-btn:hover{
    background-color: rgb(245,245,245);
}

#left-item2-box-body{
    height: 70%;
    display:flex;
    border-bottom: 1px solid rgb(208, 206, 206);

}

#left-body-1{
    flex-basis :45%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.left-body-1-1{
    width: 45%;
    height: 47%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-evenly;
    cursor: pointer;
}
.left-body-1-pic{
    width: 140px;
    height: 100px;
    border-radius: 10px;

}

.news-text{
    font-size: 12px;
}

.left-body-1-1:hover{
    color:rgb(92,92,92);
}

.left-body-1-1:hover img{
    transform: scale(1.03);
    -webkit-transform:scale(1.03);
    transition:0.5s;
}


.sbs{
    font-size: 11px;
    color: gray;
}

#left-body-2{
    flex-basis:55%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}

.news-line{
    width: 90%;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid rgb(208, 206, 206);

}

.news-line:hover{
    color: rgb(92,92,92);
    cursor: pointer;
}

.news-line:last-child{
    border-bottom: none;
}

#left-item2-box-footer{
    height:13%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-item3{
    flex-basis: 21%;
    background-color: rgb(94,68,65);
    border-radius: 10px;
    width: 97%;
    margin-left: 13px;
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#left-item3-1{
    flex-basis: 30%;
    position: relative;
}
#dino{
    position: absolute;
    top:5px;
    left: 58px;
}

#dino-next{
    color:white;
    position: absolute;
    top:28px;
    left:150px;
    font-size: 17px;
    font-weight: 800;
}

#crazyicon{
    position: absolute;
    right:30px;
    top:20px
}

#left-item3-2{
    flex-basis: 50%;
    display: flex;
    justify-content: space-evenly;
}

#left-item3-2-1{
    background-color: rgb(102, 89, 85);
    border-radius: 10px;
    width: 320px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.content{
    cursor: pointer;
    width: 100px;
    height: 40px;
    background-color: rgb(127, 117, 116);
    border-radius: 30px;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content:hover{
    background-color:rgb(146, 140, 136);
}
.content-l:hover{
    background-color: rgb(146, 140, 136);
}

.content-l{
    cursor: pointer;
    width: 70px;
    height: 40px;
    background-color: rgb(127, 117, 116);
    border-radius: 30px;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}


#right{
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#right-item1{
    flex-basis: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#right-item1-box{
    width: 97%;
    height: 85%;
    border-radius: 14px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#r-1-b-1{
    position: absolute;
    top:20px;
    left:10px;
    color:rgb(133,133,133);
    font-size: 14px;
}

#login-button{
    position: absolute;
    bottom:10px;
    cursor: pointer;
}

#i-button{
    position: absolute;
    right:17px;
    top:17px;
    width: 30px;
    height: 30px;
}


#right-item2{
    flex-basis: 16%;
    display: flex;
    align-items: top;
    justify-content: center;
}

#right-item2-box{
    width: 97%;
    height: 75%;
    border-radius: 14px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


#right-item3{
    flex-basis: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#right-item3-box{
    width: 97%;
    height: 120%;
    border-radius: 14px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#adad{
    cursor: pointer;
}

#right-item4{
    flex-basis: 34%;
    position: relative;
}
#right-item4-box{
    width: 97%;
    height: 85%;
    border-radius: 14px;
    background-color: white;
    position: absolute;
    bottom: 10px;
    left:8px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#right-item4-box-1{
    flex-basis :10%;
    display: flex;
}

#shopping{
    font-size: 18pt;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top:14px;
    margin-left:20px;
}
#shopping-1{

    font-weight: 700;
    width: 3px;
    height: 18px;
    position: absolute;
    left:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    
    
}

#auc-btn1{
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(242,244,247);
    position: absolute;
    right:10px;
    top:15px;
    cursor: pointer;
}
#auc-btn2{
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(242,244,247);
    position: absolute;
    top:15px;
    right:100px;
    cursor: pointer;
}

#auction1{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

#right-item4-box-2{
    flex-basis: 30%;
    cursor: pointer;
}

#right-item4-box-2 > div{
    margin-top: 20px;
    font-size: 12pt;
    line-height: 180%;
    text-align: center;
}

#right-item4-box-3{
    flex-basis: 50%;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
}

#ad1{
    margin-top: 10px;
    width: 120px;
    height: 120px;
    border-radius: 5px;
}